/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('media/fondo-hexagonal-oscuro-color-degradado_79603-1409.avif');
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Header */
.header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.logo {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 50px;
    height: auto;
}

/* Content */
.content {
    padding: 20px;
    text-align: center;
}

.content a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

.content a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
